/*---------------------------------------------------------------------------------------------------------------------------=navigation------------------------------------------*/
nav ul {
	list-style: none;
	width: 400px;
	padding: 0;
	overflow: hidden;
	margin: 0 auto;
}

nav li{
	width: 85px;
	float: left;
}

nav a{
	background: url(../images/navbar.jpg) no-repeat;
	background-position: -200px 0px;
	display: block;
	height: 50px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

nav a:hover{
	background-position: -200px -100px; 
}

nav a:active{
	background-position: 0 -200px; 	
}

/*---------------------------------- =Home-------------------------------------------*/
.home {
	background-position: 0px 0;
}

.home:hover{
	background-position: 0px -100px;
}

.home:active{
		background-position: 0px -50px;
}



/*---------------------------------- =Product-------------------------------------------*/
.product {
	background-position: -90px 0;
}

.product:hover{
	background-position: -90px -100px;
}

.product:active{
		background-position: -90px -50px;
}

/*---------------------------------- =Shop-------------------------------------------*/
.shop {
	background-position: -200px 0;
}

.shop:hover{
	background-position: -200px -100px;
}

.shop:active{
		background-position: -200px -50px;
}

/*---------------------------------- =Support-------------------------------------------*/
.support {
	background-position: -300px 0;
}

.support:hover{
	background-position: -300px -100px;
}

.support:active{
		background-position: -300px -50px;
}

/*-----------------------------------=Body----------------------------------------------*/
* {
padding: 0;
margin: 0;
}

html {
	background: rgb(181,189,200); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
	}

.title {
	margin: 20px;
	}
	
body {
	background-image: url('subtle.png');
	margin: 40px;
	}

.headers {
	font-family: 'Revalia', cursive;
	line-height: 2
	}

.first_section {
	float: left;
	margin: 30px 20px 20px 20px;
	width: 450px;
	overflow: hidden;
	}

.second_section {
	float: right;
	margin: 30px 20px 20px 20px;
	width: 450px;
	overflow: hidden;
	}

.img_center {
	width: 750px;
	margin: 0 auto;
	}

.button {
	display: block;
	background-color: background: rgb(181,189,200); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
	width: 100px;
	height: 40px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #888;
	font-family: 'Revalia', cursive;
	text-align: center;
	color: white;
	text-decoration: none;
	}
	
.gallery {
	margin: 20px;
	list-style-type: none;
	}
	
.img_right {
	list-style-type: none;
	margin 10px;
	}

.img_left {
	width: 400px;
	overflow: hidden;
	float: right;
	list-style-type: none;
	}

.list {
	margin: 40px;
	list-style-type: none;
	}

.heading {
	float: right;
	margin: 30px 20px 0px 20px;
	width: 450px;
	overflow: hidden;
	font-family: 'Revalia', cursive;
	line-height: 2
	}
	
footer {
	margin: 30px 20px 0px 20px;
	}