h1 {
	color: rgba(255, 0, 0, 0.8);
	text-shadow: 4px 4px 4px #666;
	}
	

p {
	color: #EE799F;
	font: normal 16px Helvetica, Sans-serif;
	text-align: left;
	text-decoration: none;
	line-height: 18px;
	text-indent: 10px;
	
	}

ol li {
		list-style-type: none;
		font-weight: bold;
		font-family: helvetica, Georgia, Sans-serif;
		
	 }

body {
	background-color: red;
	}
	