h1 {
	color: rgba(255, 10, 20, 0.8);
	text-shadow: 4px 4px 4px #666; 			/* This adds a drop shadow to heading1 4px */
	letter-spacing: 1.5px;
	}
	

p {
	color: #EE799F;
	font: normal 16px Helvetica, Sans-serif;
	text-align: left;
	text-decoration: none;
	line-height: 18px;
	text-indent: 20px;	
	word-spacing: 1.5px; 					/* Adding 1.5px between all words. */
	
	}

ol li {
		list-style-type: none;
		font-weight: bold;
		font-size: 18px;
		font-family: helvetica, Georgia, Sans-serif;
		font-style: normal;
		text-transform: uppercase;
		vertical-align: baseline;
	 }

body {
	background-color: #B0C4DE;				/* Adding background color */
	}

h3 {
	font-variant: small-caps;
	}

#image {
	opacity: 0.6;
	}