* {
	color: red;
	font-weight: bold;
	}	
	
p {
	color: blue;
	font: 14px Helvetica;
	}

.company_name {
	color: red;
	font-family: Helvetica;
	}
	
#subsection {
	color: green;
	font-family: Helvetica;
	}
	
h1, h2, h3 {
	color: purple;
	font-family: Helvetica;
	}

ol li {
	color: fuchsia;
	font: 14px Helvetica;
	}

a:visited {
	color: red;
	}

a:hover {
	color: green;
	}

a:active {
	color: blue;
	}