/*---------------------------------------------------------------------------------------------------------------------------=navigation------------------------------------------*/
#navbar {
	float: right;
	height: 60px;
	width: 600px;
	list-style-type: none;
	padding: 5px;
	overflow: hidden;
	}

#navbar li {
	float: left;
	width: 140px;
	height: 60px;
	list-style-type: none;
	}
	
#navbar li a {
	display: block;
	margin-top: 10px;
	font: bold 16px helvetica;
	padding: 5px 25px 5px 25px;
	text-decoration: none;
	color: #000000;
	}
	
#navbar li a:hover {
	color: #ffffff;
	background: #000000;
	text-decoration: none;
	}

/*---------------------------------------------------------------------------------------------------------------------------=body------------------------------------------------*/
* {
	padding: 0px;
	margin: 0px;
	}

.headings {
	margin: 20px;
	}

header {
	overflow: hidden;
	}

#main-content {
	width: 960px;
	margin: 0 auto;
	background: #E6E7E8;
	}

#gallery {
	width: 960px;
	float: right;
	clear: both;
	}

.title {
	margin: 10px 20px 20px 20px;
	width: 200px;
	float: left;
	}

.first_paragraph {
	margin-left: 20px;
	width: 450px;
	float: left;
	}

.second_paragraph {
	margin-right: 20px;
	width: 450px;
	float: right;
	}

#first_section {
	display: block;
	overflow: hidden;
	}
	
#second_section {
	display: block;
	overflow: hidden:
	}
	
