/*---------------------------------------------------------------------------------------------------------------------------=navigation------------------------------------------*/
#navbar {
	float: right;
	height: 60px;
	width: 600px;
	list-style-type: none;
	padding: 5px;
	overflow: hidden;
	}

#navbar li {
	float: left;
	width: 140px;
	height: 60px;
	list-style-type: none;
	}
	
#navbar li a {
	background-image: url('/Users/Miller/Desktop/Test/images/divider.jpg');
	background-repeat: no-repeat;
	display: block;
	margin-top: 10px;
	font: bold 18px helvetica;
	padding: 5px 25px 5px 25px;
	text-decoration: none;
	color: #000000;
	}
	
#navbar li a:hover {
	color: #ffffff;
	background: #000000;
	text-decoration: none;
	}

/*---------------------------------------------------------------------------------------------------------------------------=body------------------------------------------------*/
header {
	overflow: hidden;
	}

#main-content {
	width: 960px;
	margin: 0 auto;
	background: red;
	}

#gallery {
	width: 960px;
	float: left;
	clear: both;
	}

.title {
	width: 200px;
	float: left;
	}