html {
	background-image: url("../images/bg_pattern.png");
}

body {
	width: 960px;
	background-color: #DEC9AC;
}


#advanced-search {
	width: 960px;
	margin: 0 auto;
}


h1 {
	color: #11282D;
}


#keywords:focus {
	background: #e5e5e5;
}
